* {
    box-sizing: border-box;
  }
  body {font-family: Arial, Helvetica, sans-serif;}
  .content {
      max-width: 500px;
      margin: auto;
      background:black;
      padding: 10px;
    }
  input[type=text], input[type=password] {
    width: 100%;
    padding: 20px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  button {
    background-color:rgb(72, 161, 161);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    opacity: 1;
  }
  
  .container {
    padding: 16px;
  }
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
  }
  
  .flex-left {
    background-color: #141414;
    padding: 10px;
    flex: 70%;
  }
  
  .flex-right {
    background-color: rgb(2, 7, 12);
    padding: 20px;
    flex: 30%;
  }
  @media (max-width: 900px) 
  {
    .flex-container
    {
        flex-direction: column-reverse;
        flex: 100%;
    }
    
  }